body {
    background: #555;
    font-family: "Garamond";
    background-color: rgb(121, 98, 65);
  }
  
  /* Thick black border */
  hr.new1 {
    border: 2.5px solid black;
  }

  .content {
    max-width: 960px;
    margin: auto;
    background: white;
    padding: 10px;
  }

  div.a {
    line-height: normal;
  }
  
  div.b {
    line-height: 1.6;
  }
  